@model IEnumerable<CitiesCountriesWebApp.ViewModels.CountryCityViewModel>

@{
    ViewData["Title"] = "Cities List";
}

<h2>All Cities List</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CityName)</td>
                <td>@Html.DisplayFor(modelItem => item.CountryName)</td>
                <td>
                    <a asp-controller="Cities" asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                    <a asp-controller="Cities" asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>